.cat_wrap{
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-color: grey;
  border-style: solid;
  width: 100%;
  height:100%;
  cursor: move;
}

.title{
  margin: 0;
  position: absolute;
  color: white;
  top: 0;
  text-indent: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.overlay{
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}